body {
  background: linear-gradient(
    to right,
    rgb(199, 244, 65),
    rgb(232, 197, 111),
    rgb(246, 79, 89)
  );
}
h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  /***background-color: rgb(88, 23, 53);
  box-sizing: border-box;
  border: dotted 3px pink;***/
  text-shadow: 3px 3px 1px rgb(238, 103, 204);
  color: rgb(93, 74, 199);
  font-size: 36px;
}
em {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(73, 232, 16);
}
.song {
  background-color: #33045f;
}
.navclass {
  background-color: beige;
  align-items: center;
  border: dotted 50px hotpink;
}
.links {
  background-color:  rgb(88, 23, 53);
}

.menu {
  text-align: center;
  background-color: rgb(88, 23, 53);
  box-sizing: border-box;
  border: dotted 3px pink;
  color: white;
  background-image: url(glitter.gif);
}
a {
  color: honeydew;
}
h2 {
  text-align: center;
  background-color: rgb(204, 53, 204);
  box-sizing: border-box;
  font-size: 18px;
  color: white;
  font-family: cursive;
}

h2,
ul {
  padding: 20px 10px;
  margin: 20px auto;
  max-width: 500px;
}
.favphoto {
  text-align: center;
  font-family: cursive;
  background-color: transparent aliceblue 0.5;
  box-sizing: border-box;
  font-size: 38px;
  border: rgb(254, 250, 7) dashed 8px;
  background-color: #33045f;
  color: #e6d110;
  text-shadow: 3px 3px 1px rgb(39, 60, 245);
}

.container {
}
@media screen and (min-width: 600px) {
  .container {
    display: flex;
  }
  .links {
    display: flex;
  }
  .navclass {
    display: inline-flex;
  }
  .logo {
    display: flex; /*how to make them that they follow the size as I make scren smaller?*/
  }
  .favphoto {
    display: flexbox;
  }
  .video {
    display: flex;
  }
}

.box {
//**  text-align: center; **//
  border-radius: 5px;
  max-width: 380px;
  margin: 20px auto;
  box-sizing: border-box;
  background-color: rgb(103, 103, 227);
  padding: 20px 10px;
  border: 5px solid #e87de8;
  color: beige;
  font-family: cursive;
  
}

title {
  color: white;
  font-weight: bold;
}

.boximage {
  max-width: 100%;
  border-image: auto;
  image-orientation: center;
  float: left;
  width:  320;
  height: 180px;
  object-fit: cover;
}
.box2 {
  background-color: rgb(187, 82, 152);
  animation: snazzyAnimation 1s infinite;
}
.logo {
  padding-left: 1em;
}

.box2:hover {
  background-color: rgb(105, 21, 202);
} 

@keyframes snazzyAnimation {
  0% {
    background-color: rgb(187, 82, 152);
  }
  50% {
    background-color: rgb(108, 20, 192);
  }
  100% {
    background-color: rgb(161, 40, 129);
  }
  50% {
    background-color: rgb(187, 82, 152);
  }
  100% {
    background-color: rgb(204, 53, 204);
  }
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: infinite; /* don't forget to set a duration! */
}

.video {
  display: flex;
  align-items: center;
  background-color: #e6d110;
  margin: 10%;
  text-align: center;
  color: #1c0334;
  font-family: cursive;
  font-size: 25px;
  background-image: url(oldcameras.jpg);
}
.filmstrip {
  background-color: aliceblue;
  --background: rgba(96, 167, 224, 0.35);
  --size: 10px;
  background-image: linear-gradient(
      to right,
      var(--background) var(--size),
      transparent var(--size)
    ),
    linear-gradient(
      to bottom,
      var(--background) var(--size),
      transparent var(--size)
    ),
    linear-gradient(
      to right,
      var(--background) var(--size),
      transparent var(--size)
    ),
    linear-gradient(
      to bottom,
      var(--background) var(--size),
      transparent var(--size)
    ),
    linear-gradient(
      to bottom,
      transparent var(--size),
      var(--background) var(--size)
    );
  background-size: calc(var(--size) * 2) var(--size),
    calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size),
    calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
  background-repeat: repeat-x;
  background-position: 0 var(--size), top left, 0 calc(100% - var(--size)),
    bottom left, 0 var(--size);
  padding: calc(var(--size) * 3) calc(var(--size) * 2.5);
  box-sizing: border-box;
}
footer {
  background-color: rgb(88, 23, 53);
  text-align: center;
  border: dotted 3px pink;
  color: white;
  background-image: url(glitter.gif);
}